.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-slide img {
  width: 100%;
  // height: 82vh;
  max-width: 100%;
  object-fit: cover;
}
// .slick-slide video {
//   width: 100vh;
//   // height: 80vh;
// }
.slick-dots {
  justify-content: center;
  margin: 0;
  // padding: 20px 0;
  list-style: none;
  bottom: 5%;
}

.slick-dots li {
  margin: 0 0 0.25rem;
}

.slick-dots li button:before {
  font-size: 12px;
}

// ===
.slide-wrapper {
  position: relative;
  text-align: center;

  &__text-container {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    // font-size: 35px;
    border: 1px solid red;
  }
}
.text-container {
  &__up-title {
    font-size: 2.8vw;
    color: $color_6;
    font-weight: $font-weight_slider;
  }
  &__title {
    font-size: 4.4vw;
    color: $color_7;
    font-weight: $font-weight_slider;
  }
  &__subtitle {
    font-size: 1.2vw;
    color: $color_6;
    font-weight: $font-weight_slider;
  }
  &__btn {
    font-size: 1.4vw;
    color: $color_5;
    background-color: $color_2;
    padding: 0.5em 1.5em;
    border: none;
    margin-top: 2.5em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.5s;
    font-weight: $font-weight_slider;
    &:hover {
      background-color: darkcyan;
    }
  }
  &__video-color {
    color: $color_5;
  }
}

#video {
  max-width: 100%;
  // height: 82vh;
  object-fit: cover;
  width: 100%;
}
