@import "./variables";
@import "./mixins";

.products-container {
  display: flex;
  justify-content: center;
  width: 100%;

  &__products-wrapper {
    width: 80%;
    min-width: 1260px; //1250+10px(margin)
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 0;
  &__title {
    font-size: 2vw;
    color: $color_1;
    font-weight: $font-weight_slider;
  }
  &__subtitle {
    font-size: 1.4vw;
    color: $color_6;
    font-weight: $font-weight_slider;
  }
}

.grid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &__col-1 {
    width: 25%;
  }
  &__col-wrapper {
    margin: 0 5px;
    height: 100%;
  }
}

// =visible block
.visible-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  &__picture {
    width: 100%;
    & img {
      width: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }
  &__description {
    width: 100%;
  }
  &__hover-visible {
    width: 100%;
    height: 80%; //пропорциональное увеличение блока
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 14%;
    background: $color_5; //background
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    padding: 5px;
    display: none;
    z-index: 9;
  }
}

.visible-block:hover .visible-block__hover-visible {
  display: block;
  transform: scale(1.4, 1.4);
}

// description-visible
.description-visible {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  &__title {
    font-size: 0.85vw;
    font-weight: $font-weight_slider;
    color: $color_8;
  }

  &__subtitle {
    font-size: 0.9vw;
    font-weight: $font-weight_slider;
    color: $color_1;
  }
  &__new-price {
    color: $color_4;
    font-size: 1.05vw;
    margin-right: 0.5em;
  }
  &__old-price {
    color: $color_1;
    font-size: 1.05vw;
    text-decoration: line-through;
  }
}
.fl-outicons-star7:before {
  content: "\e056";
  font-size: 14px;
  padding: 0 2px;
  color: yellow;
}

// info-container
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  line-height: 10%;
  &__title {
    margin-top: 0.5em;
    font-size: 0.85vw; //0.85
    font-weight: $font-weight_slider;
    color: $color_8;
    transform: scale(0.7, 0.5);
  }

  &__subtitle {
    font-size: 0.9vw;
    font-weight: $font-weight_slider;
    color: $color_1;
    transform: scale(0.7, 0.5);
  }
  &__rating {
    transform: scale(0.7, 0.5);
  }
  &__price {
    transform: scale(0.7, 0.5);
  }
  &__new-price {
    color: $color_4;
    font-size: 1.05vw;
    margin-right: 0.5em;
    transform: scale(0.7, 0.5);
  }
  &__old-price {
    color: $color_1;
    font-size: 1.05vw;
    text-decoration: line-through;
    transform: scale(0.7, 0.5);
  }
  &__btn {
    font-size: 0.5vw;
    width: 100%;
    height: 20px;
    background-color: $color_2;
    color: $color_5;
    border: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: darkcyan;
    }
  }
}

// ====hover-visible
.hover-visible {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__picture-container {
    width: 100%;
    height: 80%;
  }
  &__info-container {
    width: 100%;
  }
}

.picture-container {
  display: flex;
  justify-content: space-between;
  &__main-img-container {
    width: 75%;
    overflow: hidden;
  }
  &__main-img {
    & img {
      display: block;
      width: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }
  &__select-img {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// =
.select-img__picture {
  width: 100%;
  height: 32%;
  transition: 0.5s;
  border: 1px solid transparent;
  cursor: pointer;

  & img {
    width: 100%;
    height: 100%;
  }
  &:hover {
    border: 1px solid $color_2;
  }
}

.pic-active {
  border: 1px solid $color_2;
}
.pic-active_2 {
  border: 1px solid $color_2;
}
.pic-active_3 {
  border: 1px solid $color_2;
}
.pic-active_4 {
  border: 1px solid $color_2;
}

@media screen and (max-width: 1250px) {
  .products-container {
    &__products-wrapper {
      min-width: auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .products-container {
    &__products-wrapper {
      width: 100%;
    }
  }
  .grid-container {
    &__col-1 {
      width: 50%;
    }
  }
  .description-visible {
    &__title {
      font-size: 2.85vw;
    }

    &__subtitle {
      font-size: 2.9vw;
    }
    &__new-price {
      font-size: 2.05vw;
      margin-right: 1.5em;
    }
    &__old-price {
      font-size: 2.05vw;
    }
  }
}

@media only screen and (max-width: 320px) {
  .grid-container {
    &__col-1 {
      width: 100%;
    }
  }
  .description-visible {
    &__title {
      font-size: 3.85vw;
    }

    &__subtitle {
      font-size: 3.9vw;
    }
    &__new-price {
      font-size: 4.05vw;
      margin-right: 1.5em;
    }
    &__old-price {
      font-size: 4.05vw;
    }
  }
}
