@import "./variables";

.top-banner {
  width: 100%;
  height: 50px;
  background-color: $color_2;
  display: flex;
  align-items: center;
  justify-content: center;
  &__description {
    display: block;
    font-weight: normal;
    color: $color_5;
  }
}
//<<<<<<< HEAD
//=======

//>>>>>>> c4d74652aee4d8a5985929a16a6ce0e993354cc7
